.emp-container {
  width: 85%;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

.emp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.add-btn {
  padding: 8px 15px;
  background: #5100ff;
  color:white;
  border: none;
  border-radius: 6px;
}


.emp-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px #d1d1d1;
}

.emp-table th {
  background: #333;
  color: white;
  padding: 12px;
}

.emp-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.emp-table tr:hover {
  background: #f3f3f3;
}

.edit-btn,
.delete-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background: #ffc107;
  margin-right: 5px;
}

.edit-btn:hover {
  background: #e0a800;
}

.delete-btn {
  background: #dc3545;
  color: white;
}

.delete-btn:hover {
  background: #b02a37;
}
