.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  gap: 15px;
}

.form-box input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.2s;
}

.form-box input:focus {
  border-color: blue;
  outline: none;
  box-shadow: 0 0 3px black;
}

.form-box button {
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.form-box button:hover {
  background: blue
}
